<header><h3>Editar Entidad</h3></header>
<form action="{{ path('admin_entidad_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} id="nuevo">
 {{ form_widget(edit_form) }}
 <footer>
  <div class="submit_link">
   <input type="submit" value="Actualizar" class="alt_btn" onclick="actualizar('#nuevo', '#listado')">
   <input type="reset" value="Reestablecer" onclick="cleanForm();">
  </div>
 </footer>
</form>
